{% for host in groups['ceph'] %}
---
service_type: host
hostname: {{ host }}
labels:
{% if host in groups['mons'] %}
- mon
{% endif %}
{% if host in groups['mgrs'] %}
- mgr
{% endif %}
{% if host in groups['osds'] %}
- osd
{% endif %}
{% endfor %}
---
service_type: mon
placement:
  label: "mon"
---
service_type: mgr
placement:
  label: "mgr"
---
service_type: crash
placement:
  host_pattern: "*"
