{% for host in groups[cephadm_ansible_group] %}
---
service_type: host
hostname: {{ hostvars[host].ansible_facts.nodename }}
{% set cephadm_admin_interface = hostvars[host].cephadm_admin_interface | default(cephadm_admin_interface) %}
addr: {{ hostvars[host]['ansible_facts'][cephadm_admin_interface | replace('-', '_')]['ipv4']['address'] }}
labels:
{% if host in groups[cephadm_ansible_mons_group] %}
  - _admin
  - mon
{% endif %}
{% if host in groups[cephadm_ansible_mgrs_group] %}
  - mgr
{% endif %}
{% if host in groups[cephadm_ansible_osds_group] %}
  - osd
{% endif %}
{% if host in groups.get(cephadm_ansible_rgws_group, []) %}
  - rgw
{% endif %}
{% if host in groups.get(cephadm_ansible_ingress_group, []) %}
  - ingress
{% endif %}
{% if hostvars[host].get('cephadm_host_labels', []) | length > 0 %}
{% for label in hostvars[host].cephadm_host_labels %}
  - {{ label }}
{% endfor %}
{% endif %}
{% endfor %}
---
service_type: mon
placement:
  count: {{ cephadm_mon_count }}
  label: mon
---
service_type: mgr
placement:
  count: {{ cephadm_mgr_count }}
  label: mgr
---
service_type: crash
placement:
  host_pattern: "*"
{% if groups.get(cephadm_ansible_rgws_group, []) | length > 0 %}
{% for service in cephadm_radosgw_services %}
---
service_type: rgw
service_id: {{ service.id }}
placement:
  label: rgw
{% if service.count_per_host is defined %}
  count_per_host: {{ service.count_per_host }}
{% endif %}
{% if service.networks is defined %}
{% if service.networks is string %}
networks:
  - "{{ service.networks }}"
{% else %}
networks:
  {{ service.networks | to_nice_yaml }}
{% endif %}
{% endif %}
{% if service.spec is defined %}
{{ {"spec": service.spec} | to_nice_yaml(indent=2) }}
{% endif %}
{% endfor %}
{% endif %}
{% if groups.get(cephadm_ansible_ingress_group, []) | length > 0 %}
{% for service in cephadm_ingress_services %}
---
service_type: ingress
service_id: {{ service.id }}
placement:
  label: ingress
{{ {"spec": service.spec} | to_nice_yaml(indent=2) }}
{% endfor %}
{% endif %}
