{% for host in groups['ceph'] %}
---
service_type: host
hostname: {{ hostvars[host]['ansible_hostname'] }}
labels:
{% if host in groups['mons'] %}
- mon
{% endif %}
{% if host in groups['mgrs'] %}
- mgr
{% endif %}
{% if host in groups['osds'] %}
- osd
{% endif %}
{% if host in groups['rgws'] %}
- rgw
{% endif %}
{% endfor %}
---
service_type: mon
placement:
  label: "mon"
---
service_type: mgr
placement:
  label: "mgr"
---
service_type: crash
placement:
  host_pattern: "*"
---
{% if groups['rgws'] | length > 0 %}
service_type: rgw
placement:
  label: "rgw"
{% if cephadm_radosgw_port != 0 %}
rgw_frontend_port: {{ cephadm_radosgw_port }}
{% endif %}
{% endif %}
