---
- name: Ensure Ceph EC profiles are defined
  cephadm_ec_profile:
    name: "{{ item.name }}"
    state: "{{ item.state | default(omit) }}"
    stripe_unit: "{{ item.stripe_unit | default(omit) }}"
    k: "{{ item.k }}"
    m: "{{ item.m }}"
    plugin: "{{ item.plugin | default(omit) }}"
    directory: "{{ item.directory | default(omit) }}"
    crush_root: "{{ item.crush_root | default(omit) }}"
    crush_device_class: "{{ item.crush_device_class | default(omit) }}"
  with_items: "{{ cephadm_ec_profiles }}"
  delegate_to: "{{ groups['mons'][0] }}"
  run_once: true
