---
- include_tasks: "destroy.yml"
  when: cephadm_recreate | bool

- include_tasks: "prechecks.yml"
  when: not cephadm_skip_prechecks | bool

- include_tasks: "pkg_{{ ansible_os_family | lower }}.yml"

- include_tasks: "prereqs.yml"

- include_tasks: "bootstrap.yml"
  when: cephadm_bootstrap | bool

- include_tasks: "osds.yml"

- include_tasks: "config.yml"
