---
- name: Add OSDs
  block:
  - name: Add OSDs individually
    command:
      cmd: "cephadm daemon add osd {{ ansible_hostname }}:{{ item }}"
    become: true
    when: cephadm_osd_devices | length > 0
    with_items: "{{ cephadm_osd_devices }}"

  - name: Get cluster fsid
    command:
      cmd: "cephadm shell -- ceph fsid"
    when: cephadm_fsid | length == 0
    become: true
    register: cephadm_fsid_current

  - name: Template out osd_spec.yml
    vars:
      fsid: "{{ cephadm_fsid if cephadm_fsid | length > 0 else cephadm_fsid_current.stdout }}"
    copy:
      content: "{{ cephadm_osd_spec | to_nice_yaml if cephadm_osd_spec is mapping else cephadm_osd_spec }}"
      dest: "/var/run/ceph/{{ fsid }}/osd_spec.yml"
      owner: root
      group: root
      mode: 0644
    when: cephadm_osd_spec | length > 0
    become: true

  - name: Apply OSDs spec
    command:
      cmd: >
           cephadm shell --
           ceph orch apply osd -i /var/run/ceph/osd_spec.yml
    when: cephadm_osd_spec | length > 0
    become: true

  delegate_to: "{{ groups['mons'][0] }}"
  run_once: True
