---
- name: Add Ceph signing keys
  apt_key:
    keyserver: keyserver.ubuntu.com
    id: E84AC2C0460F3994
  become: true

- name: Ensure Ceph repositories are defined
  apt_repository:
    repo: "deb https://download.ceph.com/debian-{{ item }}/ {{ ansible_distribution_release }} main"
    state: "{{ 'present' if item == cephadm_ceph_release else 'absent' }}"
  when: not cephadm_custom_repos | bool
  become: true
  loop: "{{ cephadm_ceph_versions }}"

- name: Install cephadm package
  apt:
    name: "cephadm"
    state: "{{ 'latest' if cephadm_package_update | bool else 'present' }}"
  become: true
